.introBox {
  background-color: black;
  padding-top: 200px;
  padding-left: 150px;
  padding-bottom: 150px;
  /* margin-top: 100px; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* align-items: center; */
  /* padding: 10rem; */
  min-height: 100vh;
}

.contact {
  color: azure;
  /* background-color: black; */
  min-height: 100vh;
}

.btn {
  display: flex;
  align-items: center;
}

.linkedin {
  font-size: 30px;
  color: azure;
  cursor: pointer;

}

.icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
}


.instagram {
  font-size: 25px;
  color: azure;
  cursor: pointer;
}

.hii {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.position {
  color: rgb(255, 255, 255);
  margin: 10px 0 10px 0;
  font-size: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.divide {
  display: flex;

  justify-content: space-around;
}

.contact {
  padding: 20px;
  background-color: black;
}

.discuss {
  text-align: center;
  padding: 50px;
}

.bio {

  color: aliceblue;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.getintouch {
  border: 1px solid white;
  background-color: black;
  cursor: pointer;

  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 10px;
}




.aboutme {
  padding-top: 50px;
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* padding-left: 150px; */
text-align: center;
  background-color: black;
  color: white;
}


.about {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-right: 150px;
  background-color: black;
  color: white;


}

.tech {
  display: flex;
  padding: 15px;
  gap: 50px;
  margin-bottom: 50px;
}

.techlist {
  font-size: 20px;
  margin-top: 20px;

}

.introduction {
  padding: 30px;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-left: 110px;

}


.myservices {
  padding-top: 30px;
  padding-top: 30px;
  font-size: 25px;
  padding-left: 150px;
  color: white;

}

.servicesheading {
  margin-top: 10px;

  color: white;
  padding-left: 150px;
}

.services {
  background-color: black;
}

.recent {
  margin-top: 10px;

  padding-left: 150px;

}

.allwork {
  display: flex;
  justify-content: space-between;
  padding: 50px;


}

.exp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;

}

.experience {
  /* padding: 20px; */
  border: 5px solid black;
  margin: 50px;

}

.backend {
  width: 40%;
  text-align: center;

  border-radius: 20px;
}

/* .about {
  width: 60%;
} */

.card {
  width: 100%;
  /* padding: 10px; */
  border-radius: 30px;
  box-shadow: 10px 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.servicescard {
  /* width: 100%; */
  /* padding: 10px; */
  height: 80vh;
  border-radius: 30px;
  background-image: url("https://img.freepik.com/free-photo/representations-user-experience-interface-design_23-2150038903.jpg?t=st=1714829316~exp=1714832916~hmac=5d5f8dbbc5b3778b3e4f1ecfa27ef92abaf2bca09f8c1ab94f6c55bb43e2c3b0&w=740");

}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

.cardtitle {
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
  border-radius: 200px 20px 20px 20px;
  box-shadow: 10px 10px black;
}

.whatnext {
  text-align: center;
  color: white;
  background-color: black;
  padding-top: 150px;
  padding-bottom: 200px;
 


}
.myself {
  text-align: center
}


.joinbtn {
  padding: 15px;
  background-color: black;
  border: 1px solid white;
  margin-top: 30px;
  cursor: pointer;

}


@media (min-width: 100px) and (max-width: 481px) {
  .introBox {
    padding: 20px;
    height: 70vh;


  }

  .backend {
    width: 100%;
  }

  .experience {
    margin: 10px;
  }

  .servicesheading {
    font-size: small;
  }


  .mywork {
    margin-top: 30px;

    padding-left: 50px;
  }

  .introduction {
    padding-left: 50px;

  }

  /* .aboutme {
    padding-left: 50px;
  } */

  .about {
    flex-direction: column;
    padding-right: 0px;

  }

  .myimg {
    padding-left: 60px;

  }

  .myservices {
    padding-left: 50px;
  }

  .servicesheading {
    padding-left: 50px;
  }

  .recent {
    margin-top: 30px;

    padding-left: 50px;
  }

  .allwork {
    flex-direction: column;
  }


  .box {
    margin-top: 200px;
  }

  .position {
    font-size: 35px;
  }
}


/* @media (min-width: 481px) and (max-width: 767px) {}


@media (min-width: 768px) and (max-width: 1024px) {}


@media (min-width: 1025px) and (max-width: 1280px) {} */